@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply sm:font-dm font-helvetica font-bold lg:text-4xl md:text-3xl sm:text-2xl text-xl
}

h2 {
    @apply sm:font-dm font-helvetica font-semibold lg:text-3xl md:text-2xl sm:text-xl text-lg
}

h3 {
    @apply sm:font-dm font-helvetica lg:text-2xl md:text-xl sm:text-lg text-[1.05rem] text-slate-900 contrast-150 dark:text-slate-200
}


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.font-adaptive {
    @apply font-medium text-gray-700 dark:text-gray-200
}

.border-adaptive {
    @apply border border-gray-400/20 dark:border-gray-200/20;
}

.sidebar-hover {
    @apply hover:bg-orange-100 dark:hover:bg-orange-800 hover:text-orange-400 dark:hover:text-orange-300 transition-all cursor-pointer;
}

.sidebar-icon {
    @apply lg:size-8 md:size-6 size-4
}

.sidebar-text {
    @apply lg:text-xl md:text-lg text-base
}

.sidebar-content {
    @apply w-full text-sm lg:pl-16 md:pl-14 sm:pl-12 pl-10 pr-4 py-2;
}
